body {
  background-position: top left;
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 100%;
}

.jenkins-job-container{
  position: absolute;
  border-radius: 100%;
}

.jenkins-job {
  border-radius: 100%;
  border: 1px solid white;
  background-position: center center;
  background-size: cover;
}

.jenkins-job-container:hover {
  z-index: 999;
}

.jenkins-job a {
  color: white;
  font-size: 20px;
  text-shadow: 0px 2px #000000;
  display: block;
  position: relative;
  width: 256px;
  left: 0px;
  top: 0px;
  display: none;
}

.jenkins-job:hover {
  background-color: transparent !important;
}

.jenkins-job:hover a {
  display: block;
}

.halo-red{
    border-color: red;
    border-radius: 100%;
    box-shadow: 0 0 30px red;
}
.halo-blue{
    border-color: #33ee33;
    border-radius: 100%;
    box-shadow: 0 0 30px #33ee33;
}
.halo-yellow{
    border-color: yellow;
    border-radius: 100%;
    box-shadow: 0 0 30px yellow;
}

.jenkins-job-container.anime {
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: battle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes battle {
    0%   {right:3px;left:4px;top:3px;bottom:3px;}
    1%   {right:4px;left:1px;top:1px;bottom:1px;}
    2%   {right:2px;left:4px;top:5px;bottom:4px;}
    3%   {right:1px;left:5px;top:1px;bottom:3px;}
    4%   {right:2px;left:1px;top:2px;bottom:1px;}
    5%   {right:0px;left:4px;top:3px;bottom:2px;}
    6%   {right:3px;left:1px;top:2px;bottom:4px;}
    7%   {right:0px;left:3px;top:5px;bottom:4px;}
    8%   {right:4px;left:4px;top:1px;bottom:0px;}
    9%   {right:5px;left:5px;top:4px;bottom:2px;}
    10%   {right:3px;left:0px;top:3px;bottom:2px;}
    11%   {right:1px;left:5px;top:0px;bottom:2px;}
    12%   {right:3px;left:3px;top:2px;bottom:2px;}
    13%   {right:3px;left:1px;top:5px;bottom:5px;}
    14%   {right:1px;left:3px;top:3px;bottom:4px;}
    15%   {right:1px;left:0px;top:2px;bottom:1px;}
    16%   {right:3px;left:3px;top:1px;bottom:2px;}
    17%   {right:3px;left:2px;top:4px;bottom:2px;}
    18%   {right:3px;left:1px;top:1px;bottom:2px;}
    19%   {right:1px;left:4px;top:3px;bottom:1px;}
    20%   {right:3px;left:1px;top:1px;bottom:5px;}
    21%   {right:2px;left:4px;top:4px;bottom:4px;}
    22%   {right:0px;left:1px;top:3px;bottom:1px;}
    23%   {right:3px;left:4px;top:3px;bottom:0px;}
    24%   {right:4px;left:1px;top:1px;bottom:4px;}
    25%   {right:0px;left:1px;top:2px;bottom:4px;}
    26%   {right:4px;left:4px;top:2px;bottom:4px;}
    27%   {right:2px;left:3px;top:0px;bottom:2px;}
    28%   {right:3px;left:5px;top:2px;bottom:5px;}
    29%   {right:1px;left:5px;top:5px;bottom:5px;}
    30%   {right:0px;left:1px;top:0px;bottom:5px;}
    31%   {right:3px;left:3px;top:2px;bottom:0px;}
    32%   {right:2px;left:4px;top:4px;bottom:2px;}
    33%   {right:2px;left:5px;top:4px;bottom:1px;}
    34%   {right:0px;left:4px;top:2px;bottom:3px;}
    35%   {right:1px;left:5px;top:2px;bottom:1px;}
    36%   {right:1px;left:3px;top:3px;bottom:2px;}
    37%   {right:2px;left:0px;top:4px;bottom:2px;}
    38%   {right:1px;left:2px;top:1px;bottom:0px;}
    39%   {right:5px;left:3px;top:4px;bottom:3px;}
    40%   {right:1px;left:5px;top:5px;bottom:5px;}
    41%   {right:4px;left:3px;top:0px;bottom:4px;}
    42%   {right:1px;left:3px;top:2px;bottom:2px;}
    43%   {right:5px;left:2px;top:2px;bottom:4px;}
    44%   {right:4px;left:3px;top:3px;bottom:4px;}
    45%   {right:1px;left:4px;top:1px;bottom:1px;}
    46%   {right:1px;left:1px;top:2px;bottom:5px;}
    47%   {right:5px;left:1px;top:4px;bottom:1px;}
    48%   {right:3px;left:4px;top:1px;bottom:2px;}
    49%   {right:4px;left:4px;top:4px;bottom:4px;}
    50%   {right:2px;left:4px;top:1px;bottom:3px;}
    51%   {right:2px;left:0px;top:2px;bottom:1px;}
    52%   {right:1px;left:4px;top:3px;bottom:1px;}
    53%   {right:4px;left:1px;top:4px;bottom:5px;}
    54%   {right:4px;left:2px;top:3px;bottom:4px;}
    55%   {right:5px;left:0px;top:5px;bottom:2px;}
    56%   {right:1px;left:5px;top:5px;bottom:1px;}
    57%   {right:5px;left:3px;top:2px;bottom:3px;}
    58%   {right:1px;left:2px;top:3px;bottom:1px;}
    59%   {right:4px;left:4px;top:5px;bottom:3px;}
    60%   {right:5px;left:4px;top:3px;bottom:2px;}
    61%   {right:4px;left:1px;top:4px;bottom:3px;}
    62%   {right:0px;left:3px;top:2px;bottom:4px;}
    63%   {right:5px;left:3px;top:2px;bottom:2px;}
    64%   {right:4px;left:5px;top:4px;bottom:3px;}
    65%   {right:5px;left:5px;top:4px;bottom:4px;}
    66%   {right:5px;left:5px;top:3px;bottom:3px;}
    67%   {right:5px;left:4px;top:4px;bottom:3px;}
    68%   {right:5px;left:5px;top:2px;bottom:1px;}
    69%   {right:2px;left:4px;top:1px;bottom:2px;}
    70%   {right:2px;left:1px;top:1px;bottom:2px;}
    71%   {right:0px;left:4px;top:4px;bottom:0px;}
    72%   {right:1px;left:4px;top:1px;bottom:2px;}
    73%   {right:2px;left:4px;top:4px;bottom:4px;}
    74%   {right:5px;left:2px;top:0px;bottom:5px;}
    75%   {right:3px;left:5px;top:2px;bottom:3px;}
    76%   {right:3px;left:5px;top:3px;bottom:2px;}
    77%   {right:5px;left:3px;top:1px;bottom:2px;}
    78%   {right:0px;left:4px;top:1px;bottom:4px;}
    79%   {right:0px;left:0px;top:1px;bottom:2px;}
    80%   {right:2px;left:0px;top:4px;bottom:1px;}
    81%   {right:2px;left:4px;top:5px;bottom:2px;}
    82%   {right:5px;left:4px;top:3px;bottom:4px;}
    83%   {right:4px;left:1px;top:3px;bottom:4px;}
    84%   {right:4px;left:1px;top:1px;bottom:3px;}
    85%   {right:5px;left:1px;top:1px;bottom:3px;}
    86%   {right:3px;left:3px;top:4px;bottom:3px;}
    87%   {right:1px;left:4px;top:2px;bottom:1px;}
    88%   {right:4px;left:0px;top:5px;bottom:2px;}
    89%   {right:1px;left:1px;top:4px;bottom:2px;}
    90%   {right:2px;left:2px;top:1px;bottom:1px;}
    91%   {right:3px;left:4px;top:1px;bottom:5px;}
    92%   {right:4px;left:1px;top:2px;bottom:2px;}
    93%   {right:1px;left:4px;top:3px;bottom:1px;}
    94%   {right:4px;left:5px;top:3px;bottom:3px;}
    95%   {right:2px;left:4px;top:5px;bottom:2px;}
    96%   {right:2px;left:2px;top:2px;bottom:4px;}
    97%   {right:2px;left:1px;top:1px;bottom:2px;}
    98%   {right:1px;left:0px;top:1px;bottom:2px;}
    99%   {right:1px;left:3px;top:4px;bottom:0px;}
    100%   {right:2px;left:2px;top:1px;bottom:2px;}
}

/* Standard syntax */
@keyframes battle {
    0%   {right:3px;left:4px;top:3px;bottom:3px;}
    1%   {right:4px;left:1px;top:1px;bottom:1px;}
    2%   {right:2px;left:4px;top:5px;bottom:4px;}
    3%   {right:1px;left:5px;top:1px;bottom:3px;}
    4%   {right:2px;left:1px;top:2px;bottom:1px;}
    5%   {right:0px;left:4px;top:3px;bottom:2px;}
    6%   {right:3px;left:1px;top:2px;bottom:4px;}
    7%   {right:0px;left:3px;top:5px;bottom:4px;}
    8%   {right:4px;left:4px;top:1px;bottom:0px;}
    9%   {right:5px;left:5px;top:4px;bottom:2px;}
    10%   {right:3px;left:0px;top:3px;bottom:2px;}
    11%   {right:1px;left:5px;top:0px;bottom:2px;}
    12%   {right:3px;left:3px;top:2px;bottom:2px;}
    13%   {right:3px;left:1px;top:5px;bottom:5px;}
    14%   {right:1px;left:3px;top:3px;bottom:4px;}
    15%   {right:1px;left:0px;top:2px;bottom:1px;}
    16%   {right:3px;left:3px;top:1px;bottom:2px;}
    17%   {right:3px;left:2px;top:4px;bottom:2px;}
    18%   {right:3px;left:1px;top:1px;bottom:2px;}
    19%   {right:1px;left:4px;top:3px;bottom:1px;}
    20%   {right:3px;left:1px;top:1px;bottom:5px;}
    21%   {right:2px;left:4px;top:4px;bottom:4px;}
    22%   {right:0px;left:1px;top:3px;bottom:1px;}
    23%   {right:3px;left:4px;top:3px;bottom:0px;}
    24%   {right:4px;left:1px;top:1px;bottom:4px;}
    25%   {right:0px;left:1px;top:2px;bottom:4px;}
    26%   {right:4px;left:4px;top:2px;bottom:4px;}
    27%   {right:2px;left:3px;top:0px;bottom:2px;}
    28%   {right:3px;left:5px;top:2px;bottom:5px;}
    29%   {right:1px;left:5px;top:5px;bottom:5px;}
    30%   {right:0px;left:1px;top:0px;bottom:5px;}
    31%   {right:3px;left:3px;top:2px;bottom:0px;}
    32%   {right:2px;left:4px;top:4px;bottom:2px;}
    33%   {right:2px;left:5px;top:4px;bottom:1px;}
    34%   {right:0px;left:4px;top:2px;bottom:3px;}
    35%   {right:1px;left:5px;top:2px;bottom:1px;}
    36%   {right:1px;left:3px;top:3px;bottom:2px;}
    37%   {right:2px;left:0px;top:4px;bottom:2px;}
    38%   {right:1px;left:2px;top:1px;bottom:0px;}
    39%   {right:5px;left:3px;top:4px;bottom:3px;}
    40%   {right:1px;left:5px;top:5px;bottom:5px;}
    41%   {right:4px;left:3px;top:0px;bottom:4px;}
    42%   {right:1px;left:3px;top:2px;bottom:2px;}
    43%   {right:5px;left:2px;top:2px;bottom:4px;}
    44%   {right:4px;left:3px;top:3px;bottom:4px;}
    45%   {right:1px;left:4px;top:1px;bottom:1px;}
    46%   {right:1px;left:1px;top:2px;bottom:5px;}
    47%   {right:5px;left:1px;top:4px;bottom:1px;}
    48%   {right:3px;left:4px;top:1px;bottom:2px;}
    49%   {right:4px;left:4px;top:4px;bottom:4px;}
    50%   {right:2px;left:4px;top:1px;bottom:3px;}
    51%   {right:2px;left:0px;top:2px;bottom:1px;}
    52%   {right:1px;left:4px;top:3px;bottom:1px;}
    53%   {right:4px;left:1px;top:4px;bottom:5px;}
    54%   {right:4px;left:2px;top:3px;bottom:4px;}
    55%   {right:5px;left:0px;top:5px;bottom:2px;}
    56%   {right:1px;left:5px;top:5px;bottom:1px;}
    57%   {right:5px;left:3px;top:2px;bottom:3px;}
    58%   {right:1px;left:2px;top:3px;bottom:1px;}
    59%   {right:4px;left:4px;top:5px;bottom:3px;}
    60%   {right:5px;left:4px;top:3px;bottom:2px;}
    61%   {right:4px;left:1px;top:4px;bottom:3px;}
    62%   {right:0px;left:3px;top:2px;bottom:4px;}
    63%   {right:5px;left:3px;top:2px;bottom:2px;}
    64%   {right:4px;left:5px;top:4px;bottom:3px;}
    65%   {right:5px;left:5px;top:4px;bottom:4px;}
    66%   {right:5px;left:5px;top:3px;bottom:3px;}
    67%   {right:5px;left:4px;top:4px;bottom:3px;}
    68%   {right:5px;left:5px;top:2px;bottom:1px;}
    69%   {right:2px;left:4px;top:1px;bottom:2px;}
    70%   {right:2px;left:1px;top:1px;bottom:2px;}
    71%   {right:0px;left:4px;top:4px;bottom:0px;}
    72%   {right:1px;left:4px;top:1px;bottom:2px;}
    73%   {right:2px;left:4px;top:4px;bottom:4px;}
    74%   {right:5px;left:2px;top:0px;bottom:5px;}
    75%   {right:3px;left:5px;top:2px;bottom:3px;}
    76%   {right:3px;left:5px;top:3px;bottom:2px;}
    77%   {right:5px;left:3px;top:1px;bottom:2px;}
    78%   {right:0px;left:4px;top:1px;bottom:4px;}
    79%   {right:0px;left:0px;top:1px;bottom:2px;}
    80%   {right:2px;left:0px;top:4px;bottom:1px;}
    81%   {right:2px;left:4px;top:5px;bottom:2px;}
    82%   {right:5px;left:4px;top:3px;bottom:4px;}
    83%   {right:4px;left:1px;top:3px;bottom:4px;}
    84%   {right:4px;left:1px;top:1px;bottom:3px;}
    85%   {right:5px;left:1px;top:1px;bottom:3px;}
    86%   {right:3px;left:3px;top:4px;bottom:3px;}
    87%   {right:1px;left:4px;top:2px;bottom:1px;}
    88%   {right:4px;left:0px;top:5px;bottom:2px;}
    89%   {right:1px;left:1px;top:4px;bottom:2px;}
    90%   {right:2px;left:2px;top:1px;bottom:1px;}
    91%   {right:3px;left:4px;top:1px;bottom:5px;}
    92%   {right:4px;left:1px;top:2px;bottom:2px;}
    93%   {right:1px;left:4px;top:3px;bottom:1px;}
    94%   {right:4px;left:5px;top:3px;bottom:3px;}
    95%   {right:2px;left:4px;top:5px;bottom:2px;}
    96%   {right:2px;left:2px;top:2px;bottom:4px;}
    97%   {right:2px;left:1px;top:1px;bottom:2px;}
    98%   {right:1px;left:0px;top:1px;bottom:2px;}
    99%   {right:1px;left:3px;top:4px;bottom:0px;}
    100%   {right:2px;left:2px;top:1px;bottom:2px;}
}
                                                   

